.a1{
    color:red;
    text-align:center;
    font-style:arial;
}
.a2{
    color:brown;
    text-align:center;
    font-style:italic;
}
.a3{
    color:rgb(23,53,219);
    text-align: center;
    font-style:bold;
    font-variant:small-caps ;
    text-transform: capitalize;
}